* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #0f0f14 ;
}

main {
    background: #1E1F29;
    padding-top: 48px;
}

h1 {
    text-align: center;
    margin-bottom: 32px;
}

label, h1 {
    color: #FAFAFA;
}

label {
    position: absolute;
    top: 12px;
    left: 48px;
    bottom: 32px;
    font-size: 12px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 120%;
}


input, select, textarea {
    background: #2E2D3D;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    font-family: sans-serif;
    padding: 27px 48px 12px;
    border: none;
    border-radius: 10px;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #e8e8e858;
    font-size: 16px;
}


.field {
    position: relative;
    margin-bottom: 16px;
}

.field img {
    position: absolute;
    top: 17px;
    bottom: 17px;
    left: 16px;

}

button {
    background: #6C38CC;
    color: #FAFAFA;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 120%;
}